.topbanner {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    background-color: black;
}

.title {
    color: white;
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 99%;
}

.porttitle {
    font-size: 40pt;
    float: left;
}

.contact {
    margin-top: 120px;
}

.menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    font-size: 15pt;
    text-align: center;
    width: 100%;
    color: white;
    padding: 15px;
    background-color: black;
    float: left;
}

body {
    background-image: url("images/shoess.png");
}




a:link {
    color: white;
    padding: 3px;
    text-decoration: none;
}
a:visited {
    color: #ec993d;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

