
* {
    background-color: #000000;
    
}

.background {
    background-color: black;
    position: relative;
    width: 100%;
    height: auto;
}

.logo {
    max-width: 50%;
    position: absolute;
    left: 28%;
    padding-top: 30px;
}

.menu {
    position: fixed;
    bottom: 50px;
    font-size: 20pt;
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 12px;
}

@font-face {
    font-family: Futura, sans-serif;
    src: url()
}

.beach {
    max-width: 100%;
    height: auto;
}



a:link {
    color: white;
    padding: 3px;
}
a:visited {
    color: #ec993d;
}

a:hover, a:active {
    color: black;
    background-color: #ec993d;
}



